@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/space-grotesk-vf.woff2") format("woff2");
}

@font-face {
  font-family: "Martian Mono";
  src: url("/fonts/martian-mono-vf.woff2") format("woff2");
}

:root {
  --font-size: 12pt;
  --length-1: 20px;
  --length-2: 26px;
  --length-3: 32px;
  --color-primary: hsl(32, 64%, 30%);
  --color-background: hsl(32, 64%, 99%);
  --color-background-alt: hsl(32, 64%, 95%);
  --color-text: hsl(32, 64%, 20%);
  --color-text-subtle: hsl(32, 32%, 40%);
  --color-link: hsl(196, 64%, 30%);
  --color-logo: var(--color-text);
  --font-primary: "Space Grotesk", monospace;
  --font-header: "Martian Mono", monospace;
  --font-code: "Martian Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-primary: hsl(196, 64%, 50%);
    --color-background: hsl(196, 64%, 10%);
    --color-background-alt: hsl(196, 64%, 12%);
    --color-text: hsl(196, 32%, 90%);
    --color-text-subtle: hsl(196, 32%, 80%);
    --color-link: hsl(32, 64%, 70%);
    --color-logo: var(--color-text);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 8px var(--length-3);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  font-weight: 450;
  line-height: var(--length-1);
  color: var(--color-text);
  background-color: var(--color-background);
}

.container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

header {
  margin-top: var(--length-3);
  text-align: center;

  h1 {
    margin-top: 0;
  }

  svg {
    width: 64px;
    height: 64px;
    vertical-align: middle;

    path {
      fill: var(--color-logo) !important;
    }
  }
}

footer {
  margin-top: var(--length-3);
  font-size: 0.9rem;
  color: var(--color-text-subtle);
}

nav {
  margin-bottom: var(--length-3);
}

h1 {
  margin: var(--length-3) 0 var(--length-1);
  line-height: var(--length-3);
  font-family: var(--font-header);
}

h2 {
  margin: var(--length-3) 0 var(--length-1);
  line-height: var(--length-3);
  font-family: var(--font-header);
}

h3 {
  margin: var(--length-1) 0;
  line-height: var(--length-3);
  font-family: var(--font-header);
}

h4 {
  margin: var(--length-1) 0;
  font-family: var(--font-header);
  color: var(--color-text-subtle);
}

p {
  margin: var(--length-1) 0;
}

small {
  font-size: 0.6em;
}

a {
  color: var(--color-link);

  &:hover,
  &:focus {
    color: var(--color-background);
    background-color: var(--color-link);
  }
}

blockquote {
  margin: 0;
  padding-left: 2em;
  border-left: solid 2px var(--color-text-subtle);
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
}

ul {
  margin: var(--length-1) 0;

  ul {
    margin: 0;
  }

  li {
    list-style-type: "> ";
  }
}

code,
.mono {
  font-family: var(--font-code);
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: -1px;
}

pre {
  padding: 8px;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: var(--font-code);
  font-size: 0.95rem;
}

summary {
  cursor: pointer;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    padding: 8px 16px;
  }

  tbody tr:nth-child(2n+1) {
    background-color: var(--color-background-alt);
  }
}

img {
  max-width: 100%;

  &.small-icon {
    width: 18px;
    transform: translateY(2px);
  }

  &.u-photo {
    float: left;
    max-width: 42px;
    margin-right: 8px;
    border-radius: 100%;
  }
}

figure {
  margin: var(--length-1) 0;
  padding: 0;

  figcaption {
    text-align: center;
  }

  &.instant {
    padding: 16px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 3px 3px 0px #00000033;

    img {
      display: block;
    }

    figcaption {
      margin-top: 12px;
    }
  }
}

a.image-link {
  display: block;
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    filter: blur(4px);
    transition: all 0.2s ease-in-out;
  }

  &:hover img {
    transform: scale(1);
    filter: blur(0px);
  }

  .overlay {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-background);
    font-size: 3em;
    line-height: 1em;
    background-color: #00000044;
    transition: all 0.2s ease-in-out;
  }

  &:hover .overlay {
    transform: scale(1.4);
    opacity: 0.6;
    background-color: #00000000;
    filter: blur(8px);
  }
}

.blog-entry {
  display: block;
  margin: 4px 0;

  time {
    font-size: 0.8em;
    color: var(--color-text-subtle);
  }
}

.rating {
  display: inline-flex;
  transform: translateY(2px);

  img {
    width: 16px;
  }
}

hr {
  color: var(--color-text-subtle);

  &.extra {
    margin: var(--length-3) 0;
  }
}

.icon svg {
  height: 16px;
  width: 16px;
  color: var(--color-text);
  transform: translateY(2px);
}

.line-through {
  text-decoration: line-through;
}

.map {
  width: 100%;
  height: 360px;
}

.movie {
  display: block;
  margin: 8px 0;
  padding: 8px 16px;
  border: solid 2px var(--color-background-alt);
  background-color: var(--color-background-alt);

  ::marker {
    display: none;
    content: "";
  }
}

details.movie {
  &:hover {
    border: solid 2px var(--color-text-subtle);
  }

  &[open] {
    >p:last-child {
      margin-bottom: 8px;
    }

    .movie-summary {
      display: none;
    }
  }
}