{% extends "base.html" %}

{% block title %}
    taxonomy: {{ taxonomy.name }}
{% endblock title %}

{% block header %}
    <h1>{{ taxonomy.name }}</h1>
{% endblock header %}

{% block content %}
    <p>
    {% for term in terms %}
        <a href="{{ term.permalink }}">#{{ term.name }}</a> ({{ term.pages | length }} posts)
        <br>
    {% endfor %}
    </p>
{% endblock content %}