{% extends "base.html" %}

{% block title %}
    #{{ term.name }}
{% endblock title %}

{% block rss %}
    {% set rss_path = "tags/" ~ term.name ~ "/atom.xml" %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
{% endblock %}

{% block header %}
    <h1>#{{ term.name }}</h1>
{% endblock header %}

{% block content %}
    <p>
        RSS feed:
        <a href="{{ current_path }}atom.xml">atom.xml</a>
    </p>

    <h2>Posts</h2>
    <p>
        {% for post in term.pages %}
            <span class="mono">{{ post.date | date(format="%Y-%m-%d") }} · </span><a href="{{ post.permalink }}">{{ post.title | safe }}</a>
            <br>
        {% endfor %}
    </p>
{% endblock content %}