{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ariadne-profile-id" content="aspe:keyoxide.org:TOICV3SYXNJP7E4P5AOK5DHW44">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/style.css?hash={{ get_hash(path='sass/style.scss', sha_type=256) }}">
    <link rel="pgpkey" type="application/pgp-keys" href="/9F0048AC0B23301E1F77E994909F6BD6F80F485D.asc">
    {% block rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">{% endblock rss %}
    {% block head %}{% endblock head %}
</head>
<body>
    
    <div class="container">
        <header>
            <h1>
                {{ load_data(path="/logo.svg") | safe }}
            </h1>
            {% block nav %}
            <nav>
                <p>
                    <a href="/">home</a> ·
                    <a href="/portfolio">portfolio</a> ·
                    <a href="/contact">contact</a>
                </p>
            </nav>
            {% endblock nav %}
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>
                Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
                <br>
                Source code at <a href="https://codeberg.org/yarmo/yarmo.eu">codeberg.org</a>
                <br>
                Last updated: {{ now() | date(format="%Y-%m-%d %H:%M") }} UTC
                <br>
                <i class="icon">{{ load_data(path="/img/icons/rss.svg") | safe }}</i> <a href="/atom.xml">RSS feed</a>
            </p>
        </footer>
    </div>

</body>
</html>