{% extends "base.html" %}

{% block title %}
    {{ page.title | safe }}
{% endblock title %}

{% block content %}
    <h1>{{ page.title | safe }}</h1>

    <p>
        <strong>Date</strong><br>
        <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d %H:%M") }} CET</time>
    </p>
    
    {% if page.taxonomies.tags %}
        <p>
            <strong>Tags</strong><br>
            {% for tag in page.taxonomies.tags %}
                <a href="/tags/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </p>
    {% endif %}

    {{ page.content | replace(from="<!-- toc -->", to=macros::toc(toc=page.toc)) | safe }}
{% endblock content %}