{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block header %}
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
    {{ section.content | safe }}

    <p>
        RSS feed: <a href="atom.xml">atom.xml</a>
        <br>  
        Links: <a href="/blogroll">blogroll</a>
    </p>
    
    <h2>Posts</h2>
    
    <p>
        Filter:
        <a href="/tags/selfhosting">#selfhosting</a> ·
        <a href="/tags/keyoxide">#keyoxide</a> ·
        <a href="/tags">more tags</a>
    </p>
    <p>
    {% for post in section.pages %}
        <span class="h-entry">
            <span class="mono"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date(format="%Y-%m-%d") }}</time></span> · <a href="{{ post.permalink }}" class="p-name u-url">{{ post.title | safe }}</a>
        </span>
    {% endfor %}
    </p>
{% endblock content %}