{% extends "base.html" %}

{% block title %}
    ctx-{{ page.slug | safe }}
{% endblock title %}

{% block header %}
    <h1>ctx-{{ page.slug | safe }}</h1>
{% endblock header %}

{% block nav %}
    <nav></nav>
{% endblock nav %}

{% block content %}
    {{ page.content | safe }}
{% endblock content %}