{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block header %}
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block nav %}
    <nav></nav>
{% endblock nav %}

{% block content %}
    <p>
    {% for post in section.pages %}
    <a href="{{ post.permalink }}">ctx-{{ post.slug | safe }}</a> > {{ post.title | safe }}
        <br>
    {% endfor %}
    </p>
{% endblock content %}