{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block content %}
    <h1>{{ section.title | safe }}</h1>

    {% set blog = get_section(path="blog/_index.md") %}
    {{ section.content | safe }}

    <h2>Blog</h2>
    <p>
    {% for post in blog.pages %}
        <span class="blog-entry h-entry">
            <span class="mono"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date(format="%Y-%m-%d") }}</time></span> · <a href="{{ post.permalink }}" class="p-name u-url">{{ post.title | safe }}</a>
        </span>
    {% endfor %}
    </p>

    <h2>Rings</h2>
    <p>
        <a href="https://fediring.net/previous?host=yarmo.eu">←</a>
        <a href="https://fediring.net/">Fediring</a>
        <a href="https://fediring.net/next?host=yarmo.eu">→</a>
    </p>
    <p>
        <a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://yarmo.eu/">←</a>
        <a href="https://yesterweb.org/webring/">Yesterweb</a>
        <a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://yarmo.eu/">[random]</a>
        <a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://yarmo.eu/">→</a>
    </p>
{% endblock content %}