{% macro toc(toc) %}
    <ul>
    {% for h2 in toc %}
        <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
                <ul>
                    {% for h3 in h2.children %}
                        <li>
                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                            {% if h3.children %}
                                <ul>
                                    {% for h4 in h3.children %}
                                        <li>
                                            <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro toc %}