{% extends "base.html" %}

{% block title %}
    {{ section.title  }}
{% endblock title %}

{% block header %}
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
    <h1>{{ section.title | safe }}</h1>

    <p>Content:</p>
    <ul>
        {% for page in section.pages %}
            <li>
                <a href="#{{ page.title | replace(from=" ", to="_") }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for page in section.pages %}
        <hr class="extra">

        {{ page.content | safe }}
    {% endfor %}
{% endblock content %}