{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block header %}
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
    {{ section.content | safe }}

    <p>
        RSS feed: <a href="/travels/atom.xml">atom.xml</a>
    </p>
    
    <h2>Travels</h2>

    {% for post in section.pages %}
    <p>
        <a href="{{ post.permalink }}" class="image-link">
            <span class="overlay">
                {{ post.title }}
                <br>
                <small>{{ post.date | date(format="%B %Y") }}</small>
            </span>
            <img src="{{ post.extra.header_image }}" alt="">
        </a>
    </p>
    {% endfor %}
{% endblock content %}