{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
{% endblock head %}

{% block title %}
    {{ page.title | safe }}
{% endblock title %}

{% block content %}
    <h1>{{ page.extra.flag }} {{ page.title | safe }}</h1>

    <p>
        <a href="/travels">Return to travels</a>
    </p>

    <p>
        <strong>When?</strong><br>
        <time datetime="{{ page.date }}">{{ page.date | date(format="%B %Y") }}</time>
    </p>

    {{ page.content | safe }}
{% endblock content %}