{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block header %}
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
    <h1>{{ section.title | safe }}</h1>

    <p>Clicking on a movie may reveal the full opinion which could contain <strong>spoilers</strong>.</p>

    {% for post in section.pages %}
    {% if post.summary %}
    <details class="movie">
        <summary>
            <img class="small-icon" src="/img/icons/{{ post.extra.type }}.png" alt="{{ post.extra.type }}">
            {{ post.year }} — <strong>{{ post.title | safe }}</strong>
            <br>
            
            {% if post.extra.rating %}
                <div class="rating">
                    {% if post.extra.rating == 0 %}
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 0.5 %}
                    <img src="/img/icons/star-half-full.png" alt="Half star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 1 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 1.5 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-half-full.png" alt="Half star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 2 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 2.5 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-half-full.png" alt="Half star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 3 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 3.5 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-half-full.png" alt="Half star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 4 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-outline.png" alt="Empty star">
                    {% elif post.extra.rating == 4.5 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star-half-full.png" alt="Half star">
                    {% elif post.extra.rating == 5 %}
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    <img src="/img/icons/star.png" alt="Full star">
                    {% endif %}
                </div>
            {% endif %}

            <span class="movie-summary">{{ post.summary | striptags | safe }}</span>
        </summary>
        {{ post.content | safe }}
    </details>
    {% else %}
    <div class="movie">
        <img class="small-icon" src="/img/icons/{{ post.extra.type }}.png" alt="{{ post.extra.type }}">
        {{ post.year }} — <strong>{{ post.title | safe }}</strong>
        <br>
            
        {% if post.extra.rating %}
            <div class="rating">
                {% if post.extra.rating == 0 %}
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 0.5 %}
                <img src="/img/icons/star-half-full.png" alt="Half star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 1 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 1.5 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-half-full.png" alt="Half star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 2 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 2.5 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-half-full.png" alt="Half star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 3 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 3.5 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-half-full.png" alt="Half star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 4 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-outline.png" alt="Empty star">
                {% elif post.extra.rating == 4.5 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star-half-full.png" alt="Half star">
                {% elif post.extra.rating == 5 %}
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                <img src="/img/icons/star.png" alt="Full star">
                {% endif %}
            </div>
        {% endif %}
        
        {{ post.content | striptags | safe }}
    </div>
    {% endif %}
    {% endfor %}

{% endblock content %}